/******** Homepage Responsive Form CSS*******/

@media screen and (max-width: 500px) and (min-width: 300px) {

  .b-slider__info{
   display:block;
   width: 85%!important;
   height: 287px!important;
  }
  .b-topBar__addr{
  	display:none;
  }
  .b-topBar__nav{
  	display: flex;
  }
  #login_menu{
  	width: 92%;
  }
  #language-top{
  	display: none;
  }
  .post_login{
  	display: flex;
  }
  .b-nav__logo{
  	padding: 0px 0 0 5px;
  	margin-top: 0px; 
    overflow:auto;
  }
  .form-title{
  	font-size: 22px!important;
  	margin-top: -6px;
  }
  #bike-car-icon{
  	display: flex;
  	margin-left:40px;
  }
  #newCarBrandSelect{
  	    height: 33px!important;
  	    font-size: 11px!important;
  	    width: 95%!important;
  	    font-weight: 400!important;
  	    margin: 8px 3px 3px 20px!important;
  	    font-family: 'Open Sans',sans-serif!important;
  	    border-radius: 5px!important;
  }
  .car-option{
  	float:right; 
  }
  .car_budget,.car_brand{
  	float: left;
  }
  .container{
  	margin-top: 40px;
  }
  .btn-danger{
  	height: 37px;
    font-size: 12px;
  }
  .b-topBar__tel{
  	margin-top: 0px;
    display: none;
  }
  #dreamwheel-logo{
  	margin-top: -75px;
  }
#item_active img{
  height: 340px;
} 
.navbar-header{
  margin-top: -189px;
  height: 40px;
  background: #fff;
}
.navbar-toggle{
  height: 34px;
  margin-top: 50px;
   visibility: initial;
}
.b-nav{
  height: 40px;
}
.navbar-collapse.in{
    visibility: initial;
    background: #000;
    position:relative;
    display:block;
    z-index:99999;
}
.dropdown-backdrop{
  position:relative;
}

}